<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- LoginWizard'da JQuery hatasını vermemesi için bu kısım eklendi -->
  <appSettings />
  <!-- Bu kısım da elle eklendi ve membership'teki "connectionStringName"e buradaki "name" yazıldı. -->
  <connectionStrings>
    <add name="AspDotNetDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="MyWebSiteDatabase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyWebSiteDatabase.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="MyWebSiteDatabaseEntities" connectionString="metadata=res://*/App_Code.MyWebSite.csdl|res://*/App_Code.MyWebSite.ssdl|res://*/App_Code.MyWebSite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\MyWebSiteDatabase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="1048576" />
    <!-- "Admin" vs gibi rollerin çalışabilmesi için bu eklendi. -->
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" connectionStringName="AspDotNetDB" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <!-- Unique email, ekstra güvenlik sorusu vs gibi şeyler aşağıda belirtiliyor. -->
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="AspDotNetDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <!-- Login için eklendi -->
    <authentication mode="Forms">
      <!-- 1440 dk (24 saat) sonra cookie silinecek. "Remember me" için bu. -->
      <forms timeout="1440" loginUrl="Login.aspx" />
    </authentication>
    <!-- Theme seçildi. -->
    <pages theme="Classic" enableEventValidation="false" >
      <!-- User Control için eklendi bu alt kısım. -->
      <controls>
        <add tagPrefix="UserControl" tagName="CommentViewer" src="~/UserControls/CommentViewer.ascx" />
        <add tagPrefix="UserControl" tagName="Banner" src="~/UserControls/Banner.ascx" />
        <add tagPrefix="UserControl" tagName="ContactControl" src="~/UserControls/ContactFormControl.ascx" />
      </controls>
    </pages>
  </system.web>
  <!-- Email göndermek için bu kısım eklendi -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="AlgoAkademi &lt; algoakademi@gmail.com &gt;">
        <network enableSsl="true" port="587" userName="algoakademi@gmail.com" password="algoakademimanager!" host="smtp.gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Hazır Login/CreateUserWizard'ı kullanmak için bu kısım eklendi -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="Microsoft.Samples.GettingStarted.CalculatorService">
        <endpoint address="http://microsoft.com/WCFservices/Calculator" binding="wsHttpBinding" bindingConfiguration="MembershipBinding" name="ASPmemberUserName" contract="Microsoft.Samples.GettingStarted.ICalculator" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="SqlMembershipProvider" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="MembershipBinding">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <!-- "Management" path'ine sadece "Manager" rolündeki kullanıcıların erişimi sağlanıyor. -->
  <location path="Management">
    <system.web>
      <authorization>
        <allow roles="Managers" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- FileUpload için maximum request arttırıldı. 1GB yapıldı sınır.
  maxRequestLength için (yukarıda, system.web'in içinde "httpRunTime" tag'inde) "kB" cinsinden, 
  maxAllowedContentLength içinse "byte" cinsinden yazıldı. -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>